---
import { getCollection, getEntry, render } from 'astro:content'
import tinytime from 'tinytime'

import YouTubeVideo from '@components/youtube-video.astro'
import VimeoVideo from '@components/vimeo-video.astro'
import CaptionImage from '@components/caption-image.astro'
import IntroText from '@components/intro-text.astro'
import Tweet from '@components/tweet.astro'

import PageLayout from '@layouts/page.astro'
import ProtailwindCta from '@components/cta/pro-tailwind.astro'
import EpicWebCta from '@components/cta/epic-web.astro'

const postDateTemplate = tinytime('{dddd}, {MMMM} {DD}, {YYYY}')

const { slug } = Astro.params

if (slug === undefined) {
  throw new Error('slug is undefined')
}
const post = await getEntry('posts', slug)
if (post === undefined) {
  throw new Error('post is undefined')
}

const { Content } = await render(post)

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  const sortedPosts = posts.sort(
    (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  )
  return sortedPosts.map((post) => {
    return {
      params: {
        slug: post.id,
      },
    }
  })
}
---

<PageLayout
  title={post.data.title}
  description={post.data.description}
  gradientStart="from-cyan-500"
  gradientEnd="to-blue-600"
>
  <article>
    <div class="mx-auto max-w-3xl">
      <div class="xl:col-span-3 xl:row-span-2 xl:pb-0">
        <div
          class="prose prose-purple lg:prose-lg xl:prose-xl prose-h3:text-lg lg:prose-h3:text-xl max-w-none pt-10 pb-8 [&_:where(h1,h2,h3,h4,h5)_code]:bg-purple-100"
        >
          <dl class="space-y-10">
            <div>
              <dt class="sr-only">Published on</dt>
              <dd class="font-party text-base leading-6 font-medium text-gray-500">
                <time datetime={post.data.pubDate}
                  >{postDateTemplate.render(new Date(post.data.pubDate))}</time
                >
              </dd>
            </div>
          </dl>
          <Content
            components={{
              IntroText,
              YouTubeVideo,
              CaptionImage,
              VimeoVideo,
              Tweet,
            }}
          />
        </div>
        <hr class="mb-4 ml-0 w-16 border-2 border-t border-gray-300" />
        <div class="mt-12 grid gap-8">
          <EpicWebCta />
          <ProtailwindCta />
        </div>
      </div>

      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </article>
</PageLayout>
