---
import { getCollection, getEntry, render } from 'astro:content'
import tinytime from 'tinytime'

import YouTubeVideo from '@components/youtube-video.astro'
import VimeoVideo from '@components/vimeo-video.astro'
import CaptionImage from '@components/caption-image.astro'
import IntroText from '@components/intro-text.astro'
import Tweet from '@components/tweet.astro'

import PageLayout from '@layouts/page.astro'
import Courses from '@components/cta/courses.astro'

const postDateTemplate = tinytime('{dddd}, {MMMM} {DD}, {YYYY}')

const { slug } = Astro.params
if (slug === undefined) {
  throw new Error('slug is undefined')
}
const talk = await getEntry('talks', slug)
if (talk === undefined) {
  throw new Error('talk is undefined')
}

const { Content } = await render(talk)

export async function getStaticPaths() {
  const talks = await getCollection('talks')
  const sortedTalks = talks.sort(
    (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  )
  return sortedTalks.map((talk) => ({
    params: {
      slug: talk.id,
    },
  }))
}
---

<PageLayout
  title={talk.data.title}
  description={talk.data.description}
  gradientStart="from-cyan-500"
  gradientEnd="to-blue-600"
>
  <article>
    <div class="mx-auto max-w-3xl">
      <div class="xl:col-span-3 xl:row-span-2 xl:pb-0">
        <div class="prose prose-purple lg:prose-lg xl:prose-xl max-w-none pt-10 pb-8">
          <dl class="space-y-10">
            <div>
              <dt class="sr-only">Published on</dt>
              <dd class="font-party text-base leading-6 font-medium text-gray-500">
                <time datetime={talk.data.pubDate}
                  >{postDateTemplate.render(new Date(talk.data.pubDate))}</time
                >
              </dd>
            </div>
          </dl>
          <Content
            components={{
              YouTubeVideo,
              IntroText,
              CaptionImage,
              VimeoVideo,
              Tweet,
            }}
          />
        </div>
        <hr class="mb-4 ml-0 w-16 border-2 border-t border-gray-300" />
        <Courses />
      </div>

      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </article>
</PageLayout>
