---
import { getCollection, getEntryBySlug } from 'astro:content'
import tinytime from 'tinytime'

import YouTubeVideo from '@components/youtube-video.astro'
import VimeoVideo from '@components/vimeo-video.astro'
import CaptionImage from '@components/caption-image.astro'
import IntroText from '@components/intro-text.astro'
import Tweet from '@components/tweet.astro'

import PageLayout from '@layouts/page.astro'
import ProtailwindCta from '@components/cta/pro-tailwind.astro'
import EpicWebCta from '@components/cta/epic-web.astro'
import Courses from '@components/cta/courses.astro'

const postDateTemplate = tinytime('{dddd}, {MMMM} {DD}, {YYYY}')

const { slug } = Astro.params
if (slug === undefined) {
  throw new Error('slug is undefined')
}
const screencast = await getEntryBySlug('screencasts', slug)
if (screencast === undefined) {
  throw new Error('screencast is undefined')
}

const { Content } = await screencast.render()

export async function getStaticPaths() {
  const screencasts = await getCollection('screencasts')
  const sortedScreencasts = screencasts.sort(
    (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  )
  return sortedScreencasts.map((screencast) => ({
    params: {
      slug: screencast.slug,
    },
  }))
}
---

<PageLayout
  title={screencast.data.title}
  description={screencast.data.description}
  gradientStart="from-cyan-500"
  gradientEnd="to-blue-600"
>
  <article>
    <div class="mx-auto max-w-3xl">
      <div class="xl:col-span-3 xl:row-span-2 xl:pb-0">
        <div class="prose prose-purple max-w-none pb-8 pt-10 lg:prose-lg xl:prose-xl">
          <dl class="space-y-10">
            <div>
              <dt class="sr-only">Published on</dt>
              <dd class="font-party text-base font-medium leading-6 text-gray-500">
                <time datetime={screencast.data.pubDate}
                  >{postDateTemplate.render(new Date(screencast.data.pubDate))}</time
                >
              </dd>
            </div>
          </dl>
          <Content
            components={{
              YouTubeVideo,
              CaptionImage,
              IntroText,
              VimeoVideo,
              Tweet,
            }}
          />
        </div>
        <hr class="mb-4 ml-0 w-16 border-2 border-t border-gray-300" />
        <Courses />
      </div>

      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </article>
</PageLayout>
