---
import tinytime from 'tinytime'

const { items } = Astro.props

const postDateTemplate = tinytime('{MMMM} {DD}, {YYYY}')
---

<ul class="divide-y divide-gray-200">
  {
    items.map((item) => {
      return (
        <li class="py-12">
          <article class="grid gap-2 xl:grid-cols-4 xl:items-baseline xl:gap-8 xl:space-y-0">
            <dl>
              <dt class="sr-only">Published on</dt>
              <dd class="font-party text-base font-medium leading-6 text-gray-500">
                <time datetime={item.data.pubDate}>
                  {postDateTemplate.render(new Date(item.data.pubDate))}
                </time>
              </dd>
            </dl>
            <div class="space-y-5 xl:col-span-3">
              <div class="space-y-6">
                <h2 class="text-2xl font-bold leading-8 tracking-tight md:text-3xl text-pretty">
                  <a
                    href={`/${item.collection}/${item.slug}`}
                    class="font-party text-gray-900 hover:underline"
                  >
                    {item.data.title}
                  </a>
                </h2>
              </div>
              <div class="prose lg:prose-lg xl:prose-xl flex max-w-none flex-col gap-8 text-gray-500 sm:flex-row">
                {item.data.thumbnail && (
                  <a class="not-prose shrink-0" href={`/${item.collection}/${item.slug}`}>
                    <img
                      class="w-40 rounded-xl ring ring-black hover:ring-purple-700"
                      src={item.data.thumbnail}
                      alt=""
                    />
                  </a>
                )}
                <p class="!my-0" set:html={item.data.description} />
              </div>
              <div class="text-base font-medium leading-6">
                <a
                  href={`/${item.collection}/${item.slug}`}
                  class="font-party text-teal-500 hover:text-teal-600"
                  aria-label={`Read "${item.data.title}"`}
                >
                  Read more &rarr;
                </a>
              </div>
            </div>
          </article>
        </li>
      )
    })
  }
</ul>
