---
import tinytime from 'tinytime'
import { Picture } from 'astro-imagetools/components'
import PageLayout from '~layouts/page.astro'

const postDateTemplate = tinytime('{dddd}, {MMMM} {DD}, {YYYY}')

const { frontmatter } = Astro.props
---

<PageLayout
  title={frontmatter.title}
  description={frontmatter.description}
  gradientStart="from-cyan-500"
  gradientEnd="to-blue-600"
>
  <article class="">
    <div class="mx-auto max-w-3xl">
      <div class="xl:col-span-3 xl:row-span-2 xl:pb-0">
        <div class="prose prose-purple max-w-none pt-10 pb-8 lg:prose-lg xl:prose-xl">
          <dl class="space-y-10">
            <div>
              <dt class="sr-only">Published on</dt>
              <dd class="font-party text-base font-medium leading-6 text-gray-500">
                <time datetime={frontmatter.pubDate}
                  >{postDateTemplate.render(new Date(frontmatter.pubDate))}</time
                >
              </dd>
            </div>
          </dl>
          <slot />
        </div>
        <hr class="ml-0 mb-4 w-16 border-2 border-t border-gray-300" />
        <footer
          class="my-16 rounded-2xl shadow-purple-900/10 shadow-xl flex overflow-hidden ring ring-black relative hover:shadow-purple-900/20 hover:shadow-lg transition-all"
        >
          <div
            class="hidden md:block w-full max-w-[12rem] relative overflow-hidden border-r-[3px] border-black"
          >
            <Picture
              src="/src/images/corgi-avatar.png"
              alt="illustration of the Pro Tailwind corgi mascot"
              attributes={{
                img: {
                  class: 'min-h-full absolute h-full object-cover origin-right',
                },
              }}
            />
          </div>
          <div class="p-8 grid items-center">
            <div
              class="md:hidden mx-auto mb-4 relative h-32 w-32 ring ring-black rounded-full overflow-hidden"
            >
              <Picture
                src="/src/images/corgi-avatar.png"
                alt="illustration of the Pro Tailwind corgi mascot"
                attributes={{
                  img: {
                    class: 'absolute h-full w-full inset-0 object-cover scale-110',
                  },
                }}
              />
            </div>
            <p
              class="font-party prose prose-purple prose-lg xl:prose-xl mb-0 text-center md:text-left"
            >
              I'm building <a href="https://protailwind.com">Pro Tailwind</a>, an advanced-level
              course on Tailwind CSS. We dig into techniques that scale up with your team. <a
                href="https://protailwind.com">Sign up today!</a
              >
            </p>
          </div>
          <a href="https://protailwind.com" class="absolute inset-0 z-10"></a>
        </footer>
      </div>
    </div>
    <script async src="https://platform.twitter.com/widgets.js" charSet="utf-8"></script>
  </article>
</PageLayout>
